<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shelf Chef</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <section class="first">
    <form class="form-container" action="/recipes">
      <div><label for="ingredients" class="large">
          Whats in your kitchen?
        </label></div>
      <div>
        <p class="medium">Enter what you have and we'll find a recipe for you.</p>
      </div>
      <div><input class="ingredient-input" type="text" id="ingredients" name="ingredients"
          placeholder="   e.g. eggs, spinach, cheese, pasta" required></div>
      <div><button class="find-recipes-button">Find Recipe</button></div>
    </form>
  </section>


  <h3 class="popular-recipes">Popular Recipes</h3>


  <section class="example-recipes">
    <div class="example-recipe">
      <img class="food-pic" src="/images/caprese.png" alt="Caprese salad">
      <div>
        <h3>Caprese Salad</h3>
      </div>
      <div>
        <p class="food-description">A simple, yet fancy light salad</p>
      </div>
      <div><a href="/recipes?ingredients=Caprese+Salad"><button class="view-recipe">View recipe</button></a></div>
    </div>
    <div class="example-recipe">
      <img class="food-pic" src="/images/french-toast.jpg" alt="Caprese salad">
      <div>
        <h3>French Toast</h3>
      </div>
      <div>
        <p class="food-description">A quick, yet classic breakfast.</p>
      </div>
      <div><a href="/recipes?ingredients=bread%2C+egg%2C+milk%2C+cinnamon%2C+syrup"><button class="view-recipe">View recipe</button></a></div>
    </div>
    <div class="example-recipe">
      <img class="food-pic" src="/images/soup.jpg" alt="Caprese salad">
      <div>
        <h3>Veggie Soup</h3>
      </div>
      <div>
        <p class="food-description">An easy, yet hearty soup</p>
      </div>
      <div><a href="/recipes?ingredients=chicken+broth%2C+celery%2C+tomatoes%2C+potatoes%2C+carrots"><button class="view-recipe">View Recipe</button></a></div>
    </div>
  </section>
</body>

</html>
